* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-principal {
  height: 100vh;
  width: 100%;
  display: flex;
}

.principal-tendencias,
.principal-streetwear {
  position: relative;
  margin-top: 16px;
}

.index-principal-container {
  padding: 0px 32px;
  flex: 1;
  min-width: 0;
}

.produtos-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  margin-bottom: 16px;
}

.produtos-titulo h1 {
  font-size: 1.5rem;
}

.produtos-titulo span {
  font-size: 1rem;
}

.produto {
  width: 300px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}

.produto-img-container {
  height: 250px;
}

.principal-tendencias-perfil {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
}

.principal-tendencias-perfil div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amarelo-principal);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.principal-tendencias-perfil h6 {
  font-size: 1rem;
}

.produto-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.produto-descricao {
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin-bottom: 16px;
}

.produto-titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.principal-exibicao-produtos {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  gap: 32px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.principal-exibicao-produtos::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}

.principal-exibicao-produtos::-webkit-scrollbar-track {
  background: transparent;
}

.principal-exibicao-produtos::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--amarelo-principal);
  padding: 0px 8px;
  padding-top: 8px;
  border: 1px solid black;
  user-select: none;
}

.arrow-right {
  right: 0;
}

.arrow-left {
  left: 0;
}

.produto-preco {
  font-size: 1rem;
}
