<app-header-autenticado></app-header-autenticado>
<main class="index-principal">
  <app-sidebar-nav></app-sidebar-nav>

  <div class="index-principal-container">

    <div class="rol-produtos principal-tendencias">
      <div class="produtos-titulo">
        <h1>Tendencias</h1>

        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </div>

      <div class="arrow-left">
        <span class="material-symbols-outlined" (click)="passarEsquerda('tendencias')">arrow_back</span>
      </div>

      <div #carrosselTendencias class="principal-exibicao-produtos">
        <div class="produto" *ngFor="let produto of produtosLista1" [routerLink]="['/produto', produto.id]">
          <div class="produto-img-container">
            <img class="produto-img" src="{{ produto.img }}" alt="" />
          </div>
          <div class="perfil">
            <div>L</div>
            <h6>Jdbooty</h6>
          </div>
          <div class="produto-descricao principal-tendencias-produto-descricao">
            <h1 class="produto-titulo">{{ produto.nome }}</h1>
            <p class="produto-preco">{{ produto.valor }}</p>
          </div>
        </div>
      </div>
      <div class="arrow-right">
        <span class="material-symbols-outlined" (click)="passarDireita('tendencias')">
          arrow_forward
        </span>
      </div>
    </div>

    <div class="rol-produtos principal-streetwear">
      <div class="produtos-titulo">
        <h1>Streetwear</h1>
        <span class="material-symbols-outlined" (click)="passarEsquerda('streetwear')">arrow_forward_ios</span>
      </div>

      <div #carrosselStreetwear class="principal-exibicao-produtos">
        <div class="arrow-left">
          <span class="material-symbols-outlined" (click)="passarEsquerda('streetwear')">
            arrow_back
          </span>
        </div>

        <div class="produto" *ngFor="let produto of produtosLista2">
          <div class="produto-img-container">
            <img class="produto-img" src="{{produto.img}}" alt="" />
          </div>
          <div class="perfil">
            <div>L</div>
            <h6>Jdbooty</h6>
          </div>
          <div class="produto-descricao principal-tendencias-produto-descricao">
            <h1 class="produto-titulo">{{produto.nome}}</h1>
            <p class="produto-preco">{{produto.valor}}</p>
          </div>
        </div>

        <div class="arrow-right">
          <span class="material-symbols-outlined" (click)="passarDireita('streetwear')">arrow_forward</span>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>