<header class="header-signup">
  <div class="header-cabecalho-logo">
    <a href="" routerLink="/"><img src="assets/icons/ori-logo.svg" alt=""></a>
  </div>
</header>
<main class="signup-principal">
  <div class="signup-principal-container">
    <div class="signup-img">
      <img src="assets/img/negocio_signup.jpg" alt="" />
    </div>
    <div class="signup-form">
      <h1 class="signup-form-title">Crie sua conta</h1>

      <div class="signup-principal-form-container-formulario">
        <!-- Formulário -->
        <form action="" class="signup-principal-form-formulario" #form="ngForm">
          <!-- Nome -->
          <div class="signup-form-formulario-container">
            <div class="signup-principal-form-formulario-input form-nome">
              <input type="text" placeholder="" id="nome" name="nome" [(ngModel)]="nome" required />
              <label for="nome">Nome</label>
            </div>

            <!-- Sobrenome -->
            <div class="signup-principal-form-formulario-input form-sobrenome">
              <input type="text" placeholder="" id="sobrenome" name="sobrenome" [(ngModel)]="sobrenome" required />
              <label for="sobrenome">Sobrenome</label>
            </div>

            <!-- Nome de Usuário -->
            <div class="signup-principal-form-formulario-input form-sobrenome">
              <input type="text" placeholder="" id="usuario" name="usuario" [(ngModel)]="usuario" required />

              <label for="usuario">Usuário</label>
            </div>

            <!-- Email -->
            <div class="signup-principal-form-formulario-input form-email">
              <input type="email" placeholder="" id="email" name="email" [(ngModel)]="email" required
                #emailCtrl="ngModel" email
                [style.border-color]="emailCtrl.invalid && emailCtrl.touched ? 'red' :  'black'" />
              <label for="email">Email</label>
              <p *ngIf="emailCtrl.invalid && emailCtrl.touched" class="mensagem-erro">Email Inválido</p>
            </div>

            <!-- Data de Nascimento -->
            <div class="signup-principal-form-formulario-input form-nascimento">
              <input type="date" placeholder="" id="dataDeNascimento" name="dataDeNascimento"
                [(ngModel)]="dataDeNascimento" required />
              <label for="dataDeNascimento"></label>
            </div>

            <!-- Senha -->
            <div class="signup-principal-form-formulario-input form-senha">
              <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="" id="senha" name="senha" [(ngModel)]="senha"
                [style.border-color]="confirmacaoSenha && confirmacaoSenha !== senha ? 'red' :  'black'" required />
              <label for="senha">Senha</label>
              <span class="material-symbols-outlined botao-visibilidade" (click)="alternarSenha();">
                @if (mostrarSenha) {visibility_off} @else {visibility}
              </span>
            </div>

            <!-- Confirmação da Senha -->
            <div class="signup-principal-form-formulario-input form-senha-confirmacao">
              <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="" id="confirmar-senha" name="confirmacaoSenha"
                [(ngModel)]="confirmacaoSenha"
                [style.border-color]="confirmacaoSenha && confirmacaoSenha !== senha ? 'red' :  'black'" required />
              <label for="confirmar-senha">Confirme sua senha</label>
             
              <span class="material-symbols-outlined botao-visibilidade" (click)="alternarSenha();">
                 @if (mostrarSenha) {visibility_off} @else {visibility}
              </span>
            </div>
            <p class="mensagem-erro" *ngIf="confirmacaoSenha && confirmacaoSenha !== senha">As senhas não conferem</p>

          </div>
          <button class="btn btn-criar-conta" (click)="criarConta()" [disabled]="!termos" routerLink="/login">Criar
            Conta</button>
        </form>

        <div class="signup-form-links">
          <div class="signup-form-lgpd">
            <input type="checkbox" name="termos" id="termos-lgpd" [(ngModel)]="termos" />
            <label for="termos-lgpd">Li e estou de acordo com os <a href="">Termos de Uso</a>.</label>
          </div>
          <div class="signup-form-login">
            <p>Já tem conta? <a href="">Entre</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>