<app-header-home></app-header-home>
<main class="signup-principal">
  <div class="signup-principal-container">
    <div class="signup-img">
      <img src="assets/img/negocio_signup.jpg" alt="" />
    </div>
    <div class="signup-form">
      <h1 class="signup-form-title">Crie sua conta</h1>

      <div class="signup-principal-form-container-formulario">
        <form action="" class="signup-principal-form-formulario">
          <div class="signup-form-formulario-container">
            <div class="signup-principal-form-formulario-input form-nome">
              <input type="text" placeholder="" id="nome" />
              <label for="nome">Nome</label>
            </div>

            <div class="signup-principal-form-formulario-input form-sobrenome">
              <input type="text" placeholder="" id="sobrenome" />
              <label for="sobrenome">Sobrenome</label>
            </div>

            <div class="signup-principal-form-formulario-input form-email">
              <input type="email" placeholder="" id="email" />
              <label for="email">Email</label>
            </div>

            <div class="signup-principal-form-formulario-input form-nascimento">
              <input type="date" placeholder="" id="data" />
              <label for="data"></label>
            </div>
            <div class="signup-principal-form-formulario-input form-senha">
              <input type="text" placeholder="" id="senha" />
              <label for="senha">Senha</label>
            </div>

            <div
              class="signup-principal-form-formulario-input form-senha-confirmacao"
            >
              <input type="text" placeholder="" id="confirmar-senha" />
              <label for="confirmar-senha">Confirme sua senha</label>
            </div>
          </div>
          <button class="btn btn-criar-conta">Criar Conta</button>
        </form>

        <div class="signup-form-links">
          <div class="signup-form-lgpd">
            <input type="checkbox" name="" id="" />
            <label for=""
              >Li e estou de acordo com os <a href="">Termos de Uso</a>.</label
            >
          </div>
          <div class="signup-form-login">
            <p>Já tem conta? <a href="">Entre</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
