* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-signup {
  padding: 24px 36px;
}

.signup-principal {
  width: 100%;
  padding: 16px 256px;
}

.signup-principal-container {
  border: 2px solid black;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

.form-senha {
  position: relative;
}

.botao-visibilidade {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  color: #777;
}

/* ========================================== */
/* ======== ESTILIZAÇÃO IMG DO LOGIN ======== */
/* ========================================== */

.signup-form-title {
  font-weight: bold;
}

.signup-img {
  width: 50%;
  height: 600px;
}

.signup-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  gap: 16px;
  flex: 1;
}

.signup-principal-form-formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-principal-form-formulario-input {
  position: relative;
}

.signup-principal-form-formulario-input input {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}

.signup-principal-form-formulario-input label {
  position: absolute;
  user-select: none;
  left: 12px;
  top: 8px;
  color: #777;
  transition: all 0.3s ease;
  cursor: text;
}

.signup-principal-form-formulario-input input:focus + label,
.signup-principal-form-formulario-input input:not(:placeholder-shown) + label {
  top: -14px;
  left: 10px;
  background-color: white;
  padding: 0 4px;
}

.signup-form-formulario-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-criar-conta {
  width: 100%;
  border: none;
  align-self: center;
  background-color: var(--amarelo-principal);
  color: black;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.btn-criar-conta:disabled {
  border: none
}

.signup-form-lgpd {
  display: flex;
  align-items: center;
  gap: 4px;
}


a {
  text-decoration: none;
  color: var(--azul-principal);
}

.mensagem-erro {
  color: red;
}

@media (max-width: 1180px) {
  .signup-img {
    display: none;
  }

  .signup-principal {
    width: 100%;
    padding: 24px 36px;
  }
}

@media (max-width: 450px) {
  .signup-form-formulario-container {
    grid-template-columns: 1fr;
  }
}
