* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signup-principal {
  width: 100%;
  padding: 48px 256px;
}

.signup-principal-container {
  border: 2px solid black;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

/* ========================================== */
/* ======== ESTILIZAÇÃO IMG DO LOGIN ======== */
/* ========================================== */

.signup-img {
  width: 60%;
  height: 700px;
}

.signup-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  gap: 16px;
  flex: 1;
}

.signup-principal-form-formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-principal-form-formulario-input {
  position: relative;
}

.signup-principal-form-formulario-input input {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}

.signup-principal-form-formulario-input label {
  position: absolute;
  left: 12px;
  top: 8px;
  color: #777;
  transition: all 0.3s ease;
  cursor: text;
}

.signup-principal-form-formulario-input input:focus + label,
.signup-principal-form-formulario-input input:not(:placeholder-shown) + label {
  top: -14px;
  left: 10px;
  background-color: white;
  padding: 0 4px;
}

.signup-form-formulario-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.form-senha,
.form-senha-confirmacao {
  grid-column: 1/-1;
}

.btn-criar-conta {
  width: 50%;
  align-self: center;
  background-color: var(--amarelo-principal);
  color: black;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.signup-form-lgpd {
  display: flex;
  align-items: center;
  gap: 4px;
}

a {
  text-decoration: none;
  color: var(--azul-principal);
}

@media (max-width: 1000px) {
  .signup-img {
    display: none;
  }

  .signup-principal {
    width: 100%;
    padding: 24px 36px;
  }
}

@media (max-width: 450px) {
  .signup-form-formulario-container {
    grid-template-columns: 1fr;
  }
}
