.header-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 24px 36px;
    background-color: var(--branco-principal);
}

.header-cabecalho-projeto {
    font-size: 24px;
}

.header-cabecalho-nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;
}

.header-cabecalho-nav-links a {
    text-decoration: none;
    color: black;
}

.header-cabecalho-botao {
    background-color: var(--amarelo-principal);
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}