* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  height: 100%;
  border-right: 1px solid black;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-link {
  display: flex;
  gap: 8px;
  padding: 0px 36px;
  cursor: pointer;
}

.menu-link h1 {
  font-size: 1.5rem;
}

.menu-link span {
  font-size: 1.5rem;
  user-select: none;
}

@media (max-width: 800px) {
  .menu-link h1 {
    display: none;
  }

  .menu-link {
    padding: 0px 24px;
  }
}
