* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  height: 100%;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-link {
  display: flex;
  gap: 8px;
  margin: 0px 16px;
  cursor: pointer;
  padding: 8px 16px;
}

.menu-link h1 {
  font-size: 1.5rem;
}

.menu-link span {
  font-size: 1.5rem;
  user-select: none;
}

.rota-ativa {
  border-radius: 20px;
  background-color: var(--amarelo-principal);
  
}

@media (max-width: 800px) {
  .menu-link h1 {
    display: none;
  }

  .menu-link {
    padding: 0px 16px;
  }
}
