<header class="header-cabecalho">
    <h1 class="header-cabecalho-projeto">Projeto-final</h1>
    <nav class="header-cabecalho-nav">
        <ul class="header-cabecalho-nav-links">
            <a href=""><li class="header-cabecalho-nav-links-link">Home</li></a>
            <a href=""><li class="header-cabecalho-nav-links-link">Compre Produtos</li></a>
            <a href=""><li class="header-cabecalho-nav-links-link">Anuncie Produtos</li></a>
        </ul>
    </nav>
    <button class="header-cabecalho-botao">Iniciar Sessão</button>
</header>
