<header class="header-login">
 <div class="header-cabecalho-logo">
        <a href="" routerLink="/"><img src="assets/icons/ori-logo.svg" alt=""></a>
    </div>
</header>
<main class="login-principal">


  <div class="login-principal-container">
    <div class="login-img">
      <img src="assets/img/login_cliente.jpg" alt="">
    </div>

    <div class="login-form">

      <div class="alert alert-danger usuario-nao-autenticado" role="alert" *ngIf="mensagemErro">
        <span class="material-symbols-outlined">
          warning
        </span>
        <p>{{mensagemErro}}</p>
      </div>

      <div class="login-formulario">
        <h1 class="login-form-title">Login</h1>
        <div class="login-principal-form-formulario">
          <form action="" class="login-form-formulario-container">
            <div class="login-principal-form-formulario-input login-form-usuario">
              <input type="text" name="" id="email" placeholder="">
              <label for="usuario">Email</label>
            </div>
            <div class="login-principal-form-formulario-input login-form-senha">
              <input [type]="mostrarSenha ? 'text' : 'password'" name="" id="senha" placeholder="">
              <label for="senha">Senha</label>
              <span class="material-symbols-outlined botao-visibilidade" (click)="alternarSenha();">
                @if (mostrarSenha) {visibility_off} @else {visibility}
              </span>
            </div>
            <button class="btn btn-cliente" (click)="login($event)">Entrar</button>
          </form>
          <div class="login-form-links">
              <p>Não tem conta? <a href="" routerLink="/signup">Inscrever-se</a>.</p>
              <p>Eu anuncio produtos <a href="">Login com conta de anuciante</a>.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>