* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ========================================== */
/* ======== ESTILIZAÇÃO IMG DO LOGIN ======== */
/* ========================================== */

.login-principal {
  width: 100%;
  padding: 48px 256px;
}

.login-principal-container {
  border: 2px solid black;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

.login-img {
  width: 60%;
  height: 700px;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========================================== */
/* ========= ESTILIZAÇÃO FORMULARIO ========= */
/* ========================================== */

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  gap: 16px;
}

.login-form-title {
  font-weight: bold;
}


.login-form-formulario-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 18px;
  width: 370px;
  margin-bottom: 16px;
}

.login-principal-form-formulario-input {
  display: flex;
  justify-content: center;
  position: relative;
}

.btn-cliente {
  width: 50%;
  align-self: center;
  background-color: var(--amarelo-principal);
  color: black;
  padding: 8px 16px;
}

.btn-revendedor {
  width: 50%;
  align-self: center;
  background-color: var(--azul-principal);
  color: black;
  padding: 8px 16px;
}

.btn-cliente:hover {
  background-color: var(--amarelo-escuro);
}

.btn-revendedor:hover {
  background-color: var(--azul-escuro);
}

.login-principal-form-formulario-input input {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}

.login-principal-form-formulario-input label {
  position: absolute;
  left: 12px;
  top: 8px;
  color: #777;
  transition: all 0.3s ease;
}

.login-principal-form-formulario-input input:focus + label,
.login-principal-form-formulario-input input:not(:placeholder-shown) + label {
  top: -18px;
  left: 10px;
  background-color: white;
}


/* ========================================== */
/* ============ ESTILIZAÇÃO LGPD ============ */
/* ========================================== */ 

.login-principal-form-lgpd {
  display: flex;
  align-items: center;
  gap: 4px;
}

.login-form-links {
  display: flex;
  flex-direction: column;
}

.login-form-termos {
  display: flex;
  gap: 8px;
}

.login-form-termos input {
  width: 16px;
}

a {
  color: var(--azul-principal);
  text-decoration: none;
}

/* ========================================== */
/* =========== ESTILIZAÇÃO QUERIES ========== */
/* ========================================== */ 

@media (max-width: 1000px) {
  .login-img {
    display: none;
  }

  .login-principal {
    width: 100%;
    padding: 24px 36px;
  }
}

@media (max-width: 540px) {
  .login-principal-form-formulario-input {
    width: 100%;
  }
}
