<app-header-autenticado></app-header-autenticado>
<main class="principal-timeline">
  <app-sidebar-nav></app-sidebar-nav>

  <section class="timeline">
    <div class="post">
      <div class="post-info">
        <div class="perfil">
          <div>L</div>
          <p class="post-usuario">Jdbooty</p>
        </div>
        <div class="data-hora-container">
          <p class="data-hora">Há 2 minutos</p>
        </div>
      </div>
      <div class="post-content">
        Vi uma jaqueta muito bonita e queria compartilhar com vocês!
      </div>
      <div class="post-interacoes">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> chat_bubble </span>
      </div>
    </div>
    <div class="post">
      <div class="post-info">
        <div class="perfil">
          <div>L</div>
          <p class="post-usuario">LuanSantana</p>
        </div>
        <div class="data-hora-container">
          <p class="data-hora">Há 2 minutos</p>
        </div>
      </div>
      <div class="post-content">
        Afropunk hoje!
      </div>
      <div class="post-interacoes">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> chat_bubble </span>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
