* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid black;
  width: 100%;
  padding: 16px;
  border-radius: 20px;
}

.principal-timeline {
  display: flex;
}

.timeline {
  width: 100%;
  margin: 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-usuario {
  font-weight: 700;
  font-size: 0.8rem;
}

.data-hora {
  color: gray;
  font-size: 0.8rem;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.perfil div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amarelo-principal);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.post-interacoes {
  display: flex;
  gap: 4px;
  user-select: none;
}

.botao-add {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--amarelo-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.editor-post {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  width: 70vw;
  height: 70vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 10000;
}

.input-post {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}

.btn-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--amarelo-principal);
  color: black;
  padding: 4px 16px;
}

.btn-post:hover {
  background-color: var(--amarelo-escuro);
}

.btn-fechar {
  position: fixed;
  top: 20px;
  right: 20px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .post-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline {
    margin: 0px 16px;
  }

  .botao-add {
    right: 10px;
  }
}