* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid black;
  width: 100%;
  padding: 16px;
  border-radius: 20px;
}

.principal-timeline {
  display: flex;
}

.timeline {
  width: 100%;
  margin: 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-usuario {
  font-weight: 700;
}

.data-hora {
  color: gray;
}

.post-info {
  display: flex;
  gap: 8px ;
}

.perfil div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amarelo-principal);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.post-interacoes {
  display: flex;
  gap: 4px;
  user-select: none;
}