* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.principal-produto {
  display: flex;
  justify-content: center;
}

.compra-produto-container {
  display: flex;
  /* padding: 0px 128px; */
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
}

.produto-img {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.produto-info {
  padding: 16px 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produto-info-nome-preco {
  display: flex;
  gap: 8px;
  align-items: center;
}

.produto-titulo {
  font-weight: bold;
}

.produto-botoes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-compra {
  background-color: var(--amarelo-principal);
  color: black;
  width: 70%;
  padding: 8px 16px;
}

.btn-compra:hover {
  background-color: var(--amarelo-escuro);
}

@media (max-width: 750px) {
  .compra-produto-container {
    flex-direction: column;
    gap: 32px;
  }
  .produto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}