<header class="header-cabecalho">
    <h1 class="header-cabecalho-projeto fs-4 fs-md-5">Projeto-final</h1>
    <nav class="header-cabecalho-nav d-none d-md-block">
        <ul class="header-cabecalho-nav-links">
            <li class="header-cabecalho-nav-links-link"><a href="">Home</a></li>
            <li class="header-cabecalho-nav-links-link"><a href="">Compre Produtos</a></li>
            <li class="header-cabecalho-nav-links-link"><a href="">Anuncie Produtos</a></li>
        </ul>
    </nav>
    <div class="header-cabecalho-botoes">
        <button class="btn btn-primary fs-md-1 d-none d-sm-block border-0 header-cabecalho-botao" id="botao-iniciar-sessao">Criar Conta</button>
        <button class="btn btn-outline-primary d-none d-sm-block header-cabecalho-botao" id="botao-entrar">Entrar</button>
    </div>
</header>
