.header-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 24px 240px;
    background-color: var(--branco-principal);
    flex: 1;
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: white;
}

.header-cabecalho-projeto {
    margin: 0;
}

.header-cabecalho-nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.header-cabecalho-nav-links a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header-cabecalho-botoes {
    display: flex;
    gap: 12px;
}

#botao-iniciar-sessao {
    background-color: var(--amarelo-principal);
    color: black;
}

#botao-iniciar-sessao:hover {
    background-color: var(--amarelo-escuro);
}

#botao-entrar {
    border-color: var(--amarelo-principal);
    color: black;
}

#botao-entrar:hover {
    background-color: var(--amarelo-principal);
}

@media (max-width: 1160px) {
    .header-cabecalho {
        padding: 24px 48px;
    }
}