<header class="header-cabecalho">
    <div class="header-cabecalho-logo">
        <a href="" routerLink="/"><img src="assets/icons/ori-logo.svg" alt=""></a>
    </div>
    <nav class="header-cabecalho-nav">
        <ul class="header-cabecalho-nav-links">
            <li class="header-cabecalho-nav-links-link"><a (click)="scrollTo('sobreProjeto')">Sobre o projeto</a></li>
            <li class="header-cabecalho-nav-links-link"><a (click)="scrollTo('ctaCliente')">Compre Produtos</a></li>
            <li class="header-cabecalho-nav-links-link"><a (click)="scrollTo('ctaLoja')">Anuncie Produtos</a></li>
        </ul>
    </nav>
    <div class="header-cabecalho-botoes">
        <button class="btn btn-primary fs-md-1 d-none d-sm-block border-0 header-cabecalho-botao"
            id="botao-iniciar-sessao" routerLink="/signup">Criar Conta</button>
        <button class="btn btn-outline-primary header-cabecalho-botao" id="botao-entrar"
            routerLink="/login">Entrar</button>
    </div>
</header>