* {
  margin: 0;
  padding: 0;
}

/* ========================================== */
/* ======== ESTILIZAÇÃO DO CARROSSEL ======== */
/* ========================================== */
.home-principal-carrossel-imagem {
  width: 100%;
  height: 90vh;
  position: relative;
  user-select: none;
}

.home-principal-carrossel-imagem::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.6);
  z-index: 1;
}

.home-principal-carrossel-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-principal-carrossel-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.home-principal-carrossel-texto h1 {
  font-weight: 800;
  font-size: clamp(3rem, 5vw, 5rem);
  text-align: center;
}

.home-principal-carrossel-texto h3 {
  font-size: 4vh;
}

.home-principal-carrossel-arrows {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2.5rem;
  user-select: none;
  transition: 0.5s;
  top: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.home-principal-carrossel-arrows:hover {
  transform: scale(1.1);
}

.esquerda {
  left: 0;
  margin-left: 24px;
}

.direita {
  right: 0;
  margin-right: 24px;
}

/* ========================================== */
/* =========== ESTILIZAÇÃO DO HERO ========== */
/* ========================================== */

.home-principal-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
  background-color: var(--amarelo-background);
}

.home-principal-hero-content {
  display: flex;
  align-items: center;
  gap: 64px;
}

.home-principal-content-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.home-principal-content-text h1, 
.home-principal-content-text h3 {
  font-weight: 800;
}

.home-principal-content-text strong {
  color: var(--verde-destaque);
}

.home-principal-hero-content-img {
  height: 674px;
}

.home-principal-hero-content-img img {
  height: 100%;
}

/* ========================================== */
/* ======= ESTILIZAÇÃO DO CTA-CLIENTE ======= */
/* ========================================== */
.home-principal-cta_client {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 32px;
  padding: 128px 240px;
}

.home-principal-cta_client-text {
  text-align: center;
}

.home-principal-cta_client-text h3 {
  margin-bottom: 8px;
  font-weight: 800;
  color: var(--azul-principal);
}

.home-principal-cta_client button,
.home-principal-cta_loja button {
    background-color: var(--amarelo-principal);
    color: black;
    padding: 6px 12px;
}

.home-principal-cta_client button:hover,
.home-principal-cta_loja button:hover {
    background-color: var(--amarelo-escuro);
}

/* ========================================== */
/* ===== ESTILIZAÇÃO DO CTA-REVENDEDOR ====== */
/* ========================================== */

.home-principal-cta_loja {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul-principal);
  gap: 64px;
  padding: 128px;
}

.home-principal-cta_loja-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 85px;
}

.home-principal-cta_loja-img {
  width: 70%;
}

.home-principal-cta_loja-elements {
  color: var(--branco-principal);
}

.home-principal-cta_loja-text {
  margin-bottom: 36px;
}

.home-principal-cta_loja-text h2 {
  margin-bottom: 8px;
  font-weight: 800;
}

.home-principal-cta_loja-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ========================================== */
/* ============= MEDIAS QUERIES ============= */
/* ========================================== */

@media (max-width: 1042px) {
  .home-principal-hero {
    gap: 48px;
  }

  .home-principal-cta_client {
    padding: 64px 120px;
  }

  .home-principal-cta_loja {
    flex-direction: column;
  }

  .home-principal-cta_loja-img {
    width: 100%;
  }
  
  .home-principal-cta_loja-text h2,
  .home-principal-cta_loja-text p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .home-principal-cta_loja-img {
    display: none;
  }
}