.home-principal-imagem {
  width: 100%;
  height: 90vh;
  position: relative;
  user-select: none;
}

.home-principal-imagem::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.6);
  z-index: 1;
}

.home-principal-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-principal-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.home-principal-texto h1 {
  font-weight: 800;
  font-size: 5vh;
  text-align: center;
}

.home-principal-texto h3 {
  font-size: 4vh;
}

.home-principal-carrossel-arrows {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2.5rem;
  user-select: none;
  transition: 0.5s;
  top: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.home-principal-carrossel-arrows:hover {
  transform: scale(1.1);
}

.esquerda {
  left: 0;
  margin-left: 24px;
}

.direita {
  right: 0;
  margin-right: 24px;
}

/* -------- estilização do sobre --------- */

.home-principal-cta_projeto {
  position: relative;
  display: flex;
  justify-content: center;
  height: 742px;
  background-color: var(--amarelo-background);
}

.home-principal-cta-borda {
  position: absolute;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.borda-nome-esquerda {
  left: 0;
}

.borda-nome-direita {
  right: 0;
}

.home-principal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 200px;
  gap: 32px;
}

.home-principal-cta-img img {
  width: 25vw;
  max-width: 320px;
}

.home-principal-content-text h1 {
  font-weight: 800;
}

.home-principal-content-text strong {
  color: var(--verde-destaque);
  font-weight: bold;
}

.home-principal-imagem {
  width: 100%;
  height: 90vh;
  position: relative;
  user-select: none;
}

.home-principal-imagem::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.6);
  z-index: 1;
}

.home-principal-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-principal-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.home-principal-texto h1 {
  font-weight: 800;
  font-size: 5vh;
  text-align: center;
}

.home-principal-texto h3 {
  font-size: 4vh;
}

.home-principal-carrossel-arrows {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2.5rem;
  user-select: none;
  transition: 0.5s;
  top: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.home-principal-carrossel-arrows:hover {
  transform: scale(1.1);
}

.esquerda {
  left: 0;
  margin-left: 24px;
}

.direita {
  right: 0;
  margin-right: 24px;
}

/* -------- estilização do sobre --------- */

.home-principal-cta_projeto {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--amarelo-background);
}

.home-principal-cta-borda {
  position: absolute;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.borda-nome-esquerda {
  left: 0;
}

.borda-nome-direita {
  right: 0;
}

.home-principal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 200px;
  gap: 32px;
}

.home-principal-cta-img img {
  width: 25vw;
  max-width: 320px;
}

.home-principal-content-text h1 {
  font-weight: 800;
}

.home-principal-content-text strong {
  color: var(--verde-destaque);
  font-weight: bold;
}

@media (max-width: 820px) {
  .home-principal-content {
    padding: 0 80px;
    margin: 0;
  }
}

@media (max-width: 760px) {
  .home-principal-content {
    padding: 0px 64px;
    margin: 0;
  }
}

