.home-principal-imagem {
  width: 100%;
  height: 60vh;
  position: relative;
  user-select: none;
}

.home-principal-imagem::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%, 0.6);
  z-index: 1;
}

.home-principal-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-principal-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.home-principal-texto h1 {
  font-weight: 800;
  font-size: 5rem;
}

.home-principal-carrossel-arrows {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2.5rem;
  user-select: none;
  transition: 0.5s;
  top: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.home-principal-carrossel-arrows:hover {
  transform: scale(1.1);
}

.esquerda {
  left: 0;
  margin-left: 24px;
}

.direita {
  right: 0;
  margin-right: 24px;
}
