* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 240px;
  user-select: none;
}

.header-cabecalho-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: var(--amarelo-principal);
  position: relative;
}

.material-symbols-outlined {
  font-size: 2rem;
}

.config-usuario {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  right: 0;
  top: 100%;
  z-index: 100;
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 8px;
}

.botao-sair {
  padding: 8px 64px;
}

.config-usuario-lista {
  list-style: none;
}

@media (max-width: 800px) {
  .header-cabecalho {
    padding: 24px 64px;
  }

  .header-cabecalho-menu p {
    display: none;
  }
  
  .header-cabecalho-menu {
    border: none;
    background-color: transparent;
  }
}