* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 240px;
}

.header-cabecalho-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: 4px 8px;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-size: 2rem;
  cursor: pointer;
}