/* You can add global styles to this file, and also import other style files */
:root {
    --amarelo-principal: #FFCF00;
    --amarelo-escuro: hsl(49, 100%, 40%);
    --amarelo-background: #FFD933;
    --verde-destaque: #50723C;
    --azul-principal: #007FFF;
    --azul-escuro: #0066cc;
    --branco-principal: #FDFFFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fustat", sans-serif;
}