/* You can add global styles to this file, and also import other style files */
:root {
    --amarelo-principal: #FFCF00;
    --branco-principal: #FDFFFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fustat", sans-serif;
}